@font-face {
    font-family: 'Exo'; /*a name to be used later*/
    src: url('../ttf/exo-regular.ttf'); /*URL to font*/
}


body
{
	background-color: #4c4c52;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.maps_parallax
{
	width: 3840px;
	height: 2560px;
	background-image: url('../img/parallax_wp.jpg');
	position: absolute;
	background-repeat: no-repeat;
	z-index: 9999;
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.maps_header
{
	width: 100%;
	height: 64px;
	background-color: rgba(51, 51, 51, 0.95);
	position: fixed;
	top: 0px;
	z-index: 10002;
}

.maps_search
{
    width: 500px;
    height: 64px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10002;
}

.maps_footer
{
	width: 100%;
	height: 40px;
	background-color: rgba(51, 51, 51, 0.95);
	position: fixed;
	bottom: 0px;
}


.maps_container
{
	overflow: hidden;
	position: relative;
	border: 5px solid #0000AA;
	background-color: rgba(76, 76, 82, 0.5);
}


.maps_render
{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10000;
	top: 0px;
	left: 0px;
	background-color: rgba(76, 76, 82, 0.2);
}	

.maps_starfield {
	background: #222;
	position: absolute;
	top: -3000px;
	left: -2000px;
	z-index: 9995;
}

.maps_ruler
{
	background-color: rgba(51, 51, 51, 1.0);
	height: 20px;
	position: absolute;
	bottom: 0px;
	z-index: 10002;
}

.maps_ruler_v
{
	background-color: rgba(51, 51, 51, 1.0);
	width: 20px;
	position: absolute;
	top: 0px;
	z-index: 10001;
}

.maps_ruler_placeholder
{
	background-color: rgba(51, 51, 51, 0.5);
	height: 20px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 10000;
}


.maps_ruler_placeholder_v
{
	background-color: rgba(51, 51, 51, 0.5);
	height: 100%;
	position: fixed;
	top: 0px;
	width: 20px;
	z-index: 10000;
}


.maps_ruler_text
{
	color: #666666;
	font-family: "Exo";
	font-size: 12px;
}


.maps_system_name
{
	background-color: rgba(30,30,30,0.85);
	border: 2px solid #444444;
	border-radius: 5px;
	padding: 5px;
	font-family: "Exo";
	font-size: 20px;
	color: #eeeeee;
	z-index: 10002;
	position: absolute;
	display: none;
}

.maps_main_searchbox
{
    width: 410px;
	height: 40px;
    background-color: rgba(80,80,80,0.95);
    position: fixed;
    top: 30px;
    left: 50px;
    box-shadow: 2px 2px 5px #777777;
    z-index: 10002;
}

.maps_search_box
{
	width: 350px;
	height: 40px;
	background-color: rgba(80,80,80,0);
	border: 0px solid #888888;
	font-family: "Exo";
	font-size: 24px;
	color: #eeeeee;
    z-index: 10002;
}

.maps_filter_box
{
    width: 410px;
    height: 400px;
    position: fixed;
    left: 50px;
    top: 70px;
    background-color: rgba(80,80,80,0.95);
    z-index: 10002;
    visibility: hidden;
}

.maps_galaxy_box
{
	width: 60px;
	height: 40px;
	border-radius: 5px;
	background-color: rgba(80,80,80,0.7);
	border: 1px solid #888888;
	font-family: "Exo";
	font-size: 24px;
	color: #eeeeee;
	padding: 3px;
}

.maps_goveco_box
{
	width: 150px;
	height: 40px;
	border-radius: 5px;
	background-color: rgba(80,80,80,0.7);
	border: 1px solid #888888;
	font-family: "Exo";
	font-size: 24px;
	color: #eeeeee;
	padding: 3px;
}

.maps_tl_box
{
	width: 60px;
	height: 35px;
	border-radius: 5px;
	background-color: rgba(80,80,80,0.7);
	border: 1px solid #888888;
	font-family: "Exo";
	font-size: 18px;
	color: #eeeeee;
	padding: 3px;
}

.maps_info_sidebar
{
	width: 400px;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.95);
	position: absolute;
	right: 0px;
	top: 64px;
	z-index: 10002;
	overflow: hidden;
	display: none;
}

.maps_header_links
{
	font-family: "Exo";
	font-size: 16px;
	color: #cccccc;
	text-decoration: underline;
}

.maps_header_filter
{
	font-family: "Exo";
	font-size: 16px;
	color: #cccccc;
}

.maps_sidebar_systemname
{
	font-family: "Exo";
	font-size: 42px;
	color: #cccccc;
	text-decoration: none;
}
.maps_goveco_info
{
	font-family: "Exo";
	font-size: 16px;
	color: #cccccc;
	text-decoration: none;
}


.maps_footer_line
{
    height: 20px;
    width: 350px;
    position: fixed;
    right: 0px;
    background-color: rgba(51, 51, 51, 0.75);
    font-family: "Exo";
    font-size: 14px;
    color: #BBBBBB;
    padding: 3px;
    bottom: 20px;
    z-index: 10002;
    text-align: right;
}


input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:"Exo";
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -57px top no-repeat;
}